@{
    ViewData["Title"] = "Create Week";
}

<h2>Create Week</h2>
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger mt-3 text-center">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p class="mb-1">@error.ErrorMessage</p>
        }
    </div>
}

<form asp-action="CreateMenuWeek" method="post">
    <div class="form-group">
        <label for="weekStart">Start Date</label>
        <input type="date" id="weekStart" name="Weekstart" class="form-control" required />
    </div>

    <br />
    <button type="submit" class="btn btn-success">Create Week</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>