@model APiConsumer.Models.CATEGORIES

<h2>Nova Categoria</h2>

<form asp-controller="Admin" asp-action="CreateCategory" method="post">
    @Html.AntiForgeryToken()

    <div class="mb-3">
        <label>Nome</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Descrição</label>
        <input asp-for="Description" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Guardar</button>
</form>
